version: '3.8'

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - .:/app
    environment:
      - FLASK_DEBUG=0
    ports:
      - 9083:9001
    deploy:
      resources:
        limits:
          memory: 512M
    env_file:
      - .env
